<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>git action 项目</title>
    <style>
        p{
            background-color: blue;
            color: #ffffff;
        }
        .box{
            width: 500px;
            height: 500px;
            background-color: aqua;

        }

        .tite{
            font-size: 50px;
        }
    </style>
</head>
<body>
    <div>action项目</div>
    <p>03-03 添加</p>
    <p>09-21 添加</p>
    <div class="box">123456</div>
    <div class="tite">
        星期三
    </div>

</body>
</html>